{{#each post}}
    <div class="post" id="{{this.postId}}">
        <a href="/profile/x">
            <img class="post-image" src={{ this.imageurl }}>
        </a>
        <div class="indent-container">
            <div class="post-header">
                <p class="subject"> {{ this.subject }} </p>
                <p class="topic">{{ this.topicname }}</p>
            </div>
            <div class="indent-container">
                <div class="post-body">
                    <p>{{ this.body }}</p>
                </div>
                <div class="post-footer">
                    <p class="date">{{ this.date }}</p>
                    <p class="replies">{{ this.numreplies }} replies</p>
                </div>
            </div>
        </div>
    </div>
    <!--{{>replyPartial}}-->
{{/each}}
<div id="next-container">
    <button id="next" onclick="window.location.href = '/next';">Next -></button>
</div>
