{{#each post}}
    <div class="post" id="{{this.postId}}">
        <a href="/profile/{{this.userid}}">
            <img class="post-image" src={{ this.imageurl }}>
        </a>
        <div class="indent-container">
            <div class="post-header">
                <p class="subject">{{this.subject}}</p>
                <p class="topic">{{this.topicname}}</p>
            </div>
            <div class="indent-container">
                <div class="post-body">
                    <p>{{this.body}}</p>
                </div>
                <div class="post-footer">
                    <p class="date">{{this.date}}</p>
                    <p class="numReplies" onclick="toggleReplies({{this.postid}})">{{this.numreplies}} replies</p>
                </div>
            </div>
        </div>
    </div>
    <div id="reply-container-{{this.postid}}" class="reply-container">
        {{>replyPartial}}
        <div class="comment-container">
            <form method="POST" action="/reply">
                <input class="comment-box" type="text" name="body" placeholder="Add your reply here...">
                <input type="hidden" name="postId" value="{{this.postid}}">
                <input type="hidden" name="userId" value="{{../user.userid}}">
                <input type="hidden" name="route" value="{{../route}}">
                <button class="comment-button" type="submit">comment</button>
            </form>
        </div>
    </div>
{{/each}}
{{>paginatorPartial}}
