<a href="/profile/{{user.userid}}">
    <img id="profile-image" src="{{user.imageurl}}">
</a>
<div id="user">
    <p id="name">{{user.firstname}} {{user.lastname}}</p>
    <p id="about">{{user.about}}</p>
</div>
<div id="numbers">
    <div id="posts">
        <a href="/posts/all">Posts</a>
        <span class="number">{{user.numposts}}</span>
    </div>
    <div>
        <a href="/conversations">Messages</a>
        <span class="number">{{user.nummessages}}</span>
    </div>
    <div>
        <span>Likes</span>
        <span class="number">{{user.numlikes}}</span>
    </div>
    <div id="edit-profile-container">
        <a href="/profile/edit">Edit Profile</a>
    </div>
</div>
