<div>
    {{>navbarPartial}}
</div>
<div id="inbox_container">
	<div id="left_column">
		<div id="conversations_list">

			{{#each conversations}}
				<div class="convo_container" id={{this.conversationid}}>
					<img class="convo_img" src={{this.imageurl}} alt="Convo image"/>
					<div class="convo_text_div">
						<div class="convo_header">
							<div class="convo_name">
								{{this.firstname}} {{this.lastname}}
							</div>
							<div class="convo_date">
								{{this.latestdate}}
							</div>
						</div>
						<div class="convo_subject">
							{{this.subject}}
						</div>
					</div>
				</div>
			{{/each}}

		</div>
	</div>
	<div id="right_column">
		<div id="msgs_list">

			<!-- For loop each message list result entry -->
			<div class="msg_container">
				<fieldset>

        			<legend>March 21</legend>

        			<!-- For each message with the same date -->
				    <div class="msg_description">
				      	<img class="msg_img" src="https://randomuser.me/api/portraits/men/5.jpg" alt="Msg image"/>
				      	<div class="msg_text_div">
				      		<div class="msg_header">
				      			<div class="msg_name">
										Kevin Hudson
								</div>
								<div class="dot_divider">•</div>
								<div class="msg_date">
										9:03 AM
								</div>
				      		</div>
				      		<div class="msg_text">
				      			You have gread zend skills, want to conduct a workshop? 
				      		</div>
				      	</div>
				    </div>
				    <!-- end of inner for loop -->

    			</fieldset>
			</div>
			<!-- end of outer for loop -->

		</div>
		<div id="input_container">
			<div id="input_area">
				<form id="msg_form">
					<textarea placeholder="Write a message..."></textarea>
				</form>
			</div>
			<div id="btn_div">
				<button id="send_btn" form="msg_form">Send</button>
			</div>
		</div>
	</div>
</div>