<div>
    {{>navbarPartial}}
</div>
<div id="profile">
	<div id="left">
		<img src={{ user.imageurl }} id="profilePic">
		<p id="u_name"> {{ user.firstname }} {{ user.lastname }} </p>
		<p id="u_about"> {{ user.about }} </p>
		<p id="u_country"> {{ user.country }} </p>
	</div>
	<div id="right">
		<form action="/messages" method="post"><input type="text" value={{user.id}} name="receiverid" id="rid"><input type="submit" id="btnMsg" value="Message"></form>
		<form action="/like" method="post"><p id="likes">{{likes}} Likes</p> {{#if likeBtn}} <input type="submit" id="likeBtn" value="+"><input class="p_id" name="p_id" value={{user.id}}>{{/if}}</form>
		<p id="posts">{{ user.numposts }} Posts</p>
	</div>
</div>
<br>
<div id="postList">
	<h1 id="postTitle">All posts by {{ user.firstname }} </h1>
	<div>
		{{>postPartial}}
	</div>
</div>